################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chatbot/.vs/Chatbot/v15/Server/sqlite3
